.polling_message {
    color: white;
    float: left;
    margin-right: 2%;

}

.view_port {
    background-color: black;
    height: 40px;
    width: 8%;
    margin-left: 45%;
    overflow: hidden;

}

.cylon_eye {
    background-color: red;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .9) 25%,
            rgba(0, 0, 0, .1) 50%,
            rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 20%;

    -webkit-animation: 2s linear 0s infinite alternate move_eye;
    animation: 2s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes move_eye {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}




.lista__fake {
    width: 95%;
    height: 100%;
    text-align: left;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: inset 0 0 1em rgb(33, 196, 207), 0 0 1em red;
}

.lista__fake>li+li {
    margin-bottom: 35px;
}


#fake__texto {

    background-color: lightblue;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px 5px 5px black;

}

#nope {
    height: 300px;
    width: 400px;
    margin-left: 25%;
}